= form_with(model: profile, url: profile_path, method: 'post', local: true) do |f|
    .profile_img_border
        -# %label
            -# %input{:hidden => "", :type => "file"}/
        - if current_user.persisted? && current_user.avatar_image
            = image_tag current_user.avatar_image
        - else
            = image_tag 'Ellipse.png'
        = f.file_field :avatar, class: 'hidden'
        = f.submit '', class: 'hidden'