.timeline_body
    = link_to article_path(article) do
        .timeline_article
            .timeline_content
                = link_to profile_path do
                    .timeline_content_top_avatar
                        = image_tag article.user.avatar_image
                    .timeline_content_top_info
                        .content_author
                            %p= article.author_name
                        .content_created
                            %p= article.created_at
                .timeline_content_image
                    = render 'commons/images', article: article
                .timeline_content_icons
                    = image_tag 'active_like.png'
                    = image_tag 'comment.png'
                    = link_to 'https://twitter.com/share?ref_src=twsrc%5Etfw', target: '_blankz' do
                        = image_tag 'share.png'
                .timeline_content_likes
                    %p nezuko19 and 2,000 others liked
                .timeline_content_texts
                    %p= article.author_name
                    %p= article.content

= javascript_pack_tag 'timeline'